<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #e0eafc, #cfdef3);
            padding: 20px;
            margin: 0;
            min-height: 100vh;
        }
        div {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
    </style>
</head><body>
<div th:each="request : ${history}">
<p th:text="${'Город: ' + request.getCity() + ', ' + request.getTimestamp()}"></p>
    <p style="margin-left: 20px;" th:text="${'Температура: ' + request.getMainTemperature()}"></p>
    <p style="margin-left: 20px;" th:text="${'Ветер: ' + request.getMainWind()}"></p>
    <p style="margin-left: 20px;" th:text="${'Описание: ' + request.getDescription()}"></p>
    <div style="margin-left: 20px;" th:each="elem : ${request.getForecast()}">
        <p style="margin-left: 20px;" th:text="${'День ' + elem.getDay() + ': ' +
        elem.getTemperature() + ', ' + elem.getWind}"></p>
    </div>
</div>
</body>
</html>